body {
  background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

#logo {
  width: 65px;
  height: 65px;
  margin-top: -30px;
}

h1 {
  font-size: 40px;
  margin-top: -5px;
  margin-bottom: 15px;
  font-family: 'Impact', serif;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

.menu {
  width: 80%;
  background-color: burlywood;
  margin: 0 auto;
  padding: 20px;
  max-width: 500px;
}

img {
  margin-top: -25px;
  display: block;
  margin: 0 auto;
}

hr {
  height: 2px;
  background-color: brown;
  border-color: brown;
}

.bottom-line {
  margin-top: 25px;
}

.item p:hover {
  font-weight: bold;
  cursor: pointer;
}

.item p {
  display: inline-block;
  margin: 5px 0;
  font-size: 18px;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%;
}

/* FOOTER */

footer {
  font-size: 14px;
}

.address {
  margin-bottom: 5px;
}

a {
  color: black;
}

a:visited, a:hover, a:active {
  color: brown;
}
