/* Ajoutez vos styles personnalisés ici */

body {
  font-family: 'Arial', sans-serif;
}

header {
  background-color: #333;
}

footer {
  background-color: #333;
}

/* Ajoutez d'autres styles au besoin */
