body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 600px;
  margin: 50px auto;
}

#taskInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

#addTaskButton {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
